body{
	color: #000;
	font-weight:200;
	font-family: sans-serif;
	letter-spacing:2px;
}

a{
	color:#05a;
	text-decoration:none;
}

a:hover{
	color:#4A12E5;
}

p{
	font-size:1rem;
}

h1{
	font-size:2rem;
	font-weight:400;
}

h2{
	font-size:1.35rem;
	letter-spacing:3pt;
	font-weight:300;
}

details > summary {
	font-size:1.35rem;
	letter-spacing:3pt;
	font-weight:300;
}

#content {
	border-right: 2px solid black;
	border-left: 2px solid black;
	width:85%;
	color:black;
	max-width:800px;
	min-width:200px; 
	margin:auto; 
	padding:5px 30px 10px;
	overflow:hidden;
	position:relative;
	z-index:1;
}

#content:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border:inherit;
}

.wide {
	width:85% !important;
	max-width:100% !important;
}

.blog {
	width:65% !important;
	min-width: 700px !important;
	max-width: 100% !important;
	letter-spacing: 0pt;
}

.blog h1 h2 h3 h4 h5 h6 {
	letter-spacing: 0pt;
}

.comic-wrapper {
	width: 100%;
	display: block;
}

img.comic {
	max-width:90%;
	margin:auto;
	display:block;
}

#comic-buttons li {
	display: inline-flex;
	margin-right: 3em;
}

.nr {
	color:#111;
	font-style:italic;
}

.comics-latest li {
	display:inline-block;
	max-width: 220px;
	padding: 0px 10px;
}

iframe {
	border:none;
	margin:auto;
	max-width: 100%;
}

#sub-content {
	float:left;
	width:65%;
}

#browser {
	float:right;
	width:33%;
	min-height: 25em;
}

ul.browser-list {
	padding-left:0.8em;
	margin-left: 0;
}

.caption {
	font-size:0.8em;
	font-style:italic;
}

.note {
	font-size:0.8em;
}

#titlebar {
	height: 3em;
	width: 100%;
	position: relative;
}
#burger-button{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	float: right;
}
.not-clicked {
	background: white;
}
.clicked {
	background: #5af;
}
#burger-block {
	padding: 8px;
	background: white;
	border-right: 2px solid black;
	border-left: 2px solid black;
	position: absolute;
	top: 100%;
	right: 0%;
}
.noshow {
	display: none;
}
.show {
	.display: block;
}
#burger-img {
	height: 2em;
}
.navbar {
	display: inline;
}
.navbar li {
	display: inline;
	font-size: 1.6em;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
.normal li {
	margin-bottom: 1em;
}
.epic {
	font-size: 2em;
	font-family: serif;
}
.full-line {
	margin: auto;
	width: 100%;
	text-align: center;
}